.main-div {
    max-width: 1440px;
    width: 100%;
    margin: auto;
}

/* header  */

.index-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #372D23;
    padding: 32px 80px;
}

.site-logo-link {
    display: flex;
    width: 72px;
    height: 72px;
}

.site-logo {
    width: 100%;
    height: 100%;
}

.header-ul {
    display: flex;
    gap: 48px;
}

.header-list {
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
}

.page-lists:hover {
    transform: translateY(-10px);
}

.active {
    color: #ED6C30;

}

.inactive {
    color: #FCC21B;
}

.bag {
    font-size: 40px;
}

.bag:hover {
    transform: translateY(-10px);
}

/* section 1 */

.section1 {
    display: flex;
    position: relative;
    /* border: 5px solid red; */
}

.section-cover {
    width: 100%;
    height: 100%;
}

/*article */
.section1-article {
    display: flex;
    position: absolute;
    background-color: #FCC21B;
    width: 52.79%;
    justify-content: center;
    align-items: center;
    padding: 76px 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px;
    border-radius: 10px;
    box-shadow: 10px 10px 4px 0px #00000080 inset;

}

.article-h2 {
    font-family: Inter;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0%;
    color: #FFFFFF;
    filter: drop-shadow(6px 2px 4px #372D23);

}

/* section-2 */
.section2 {
    display: flex;
    background-color: #FFE18A;
    justify-content: center;
    align-items: center;
    min-width: none;
    gap: 30px;
    padding-block: 96px 104px;

}

.section2-article {
    display: flex;
    position: relative;
    max-width: 620px;
    /* border: 4px solid red; */
}



.section2-image {
    width: 100%;
    height: 100%;
}

.section2-text {
    font-family: Inter;
    font-weight: 700;
    font-size: 64px;
    line-height: 72px;
    letter-spacing: 0%;
    color: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* footer */

.index-footer {
    background-color: #372D23;
    display: flex;
    padding: 32px 80px;
    justify-content: space-between;
    /* align-items: center; */
}

.footer-ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-page-links:hover {
    transform: translateX(20px)
}

.footer-links {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    color: #FCC21B;

}

.social-links-ul {
    display: flex;
    gap: 24px;
}

.social-links-li:hover {
    transform: translateY(-10px)
}

.icon {
    font-size: 32px;
}